body, html {
    background: black;
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background: rgb(34,193,195);
    /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
    background: linear-gradient(-45deg, #13547a   , #80d0c7 );
    background-size: 400% 400%;
    animation: spinback 15s ease infinite;
}

@keyframes spinback {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.text-shadow {
    text-shadow: 2px 2px #000000;
}

a.no-underline:hover {
    text-decoration: none;
    opacity: .8;
}

.hide-scrollbar::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.opacity-75 {
    opacity: .75;
}

.text-larger {
    font-size: 1.2rem;
}

.collapse-bar {
    transition: max-width 1s ease;
    overflow: hidden;
}

.collapse-bar.collapsed {
    max-width: 32px !important;
}

#collapse::before {
    content: "\00ab\00a0"
}

.collapse-bar.collapsed #collapse::before {
    content: "\00bb\00a0"
}

.single-recipe {
    font-size: 1.2em;
}

.single-recipe .ingredients-list {
    column-count: 3;
}

.single-recipe li {
    margin-bottom: 4px;
}


.single-recipe ul li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.single-recipe ul li.checked::before {
    content:"\2713\0020";
    position: absolute;
    margin-left: -22px;
}

.single-recipe ol li {
    margin-top: 16px;
}

#spinnerbox{
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
}