<div class="col position-relative">
    <div class="card mb-3 shadow" style="background: rgba(255,255,255,0.8);">
        <div class="position-relative">
            <img class="card-img img-fluid" style="height:200px; object-fit: cover;" />
            <div class="card-img-overlay">
                <button disabled id="addtofavorites" class="btn btn-light float-right shadow" style="position: sticky; right: 0px; top: 0px;">Add to favorites</button>
            </div>
        </div>
        <div class="card-body single-recipe">
            <h5 class='card-title'>Ingredients</h5>
            <ul class="ingredients-list">

            </ul>
            <h5 class='card-title'>Instructions</h5>
            <ol class="instructions-list">

            </ol>
        </div>
        
    </div>      
</div>
  
  